server:
  port: 8902

spring:
  application:
    name: by-spring-boot-devTools
  datasource:
    url: jdbc:mysql://localhost:3306/by_cloud_01?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000
      max-lifetime: 1200000
  # Redis配置
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
      database: 0

  # Thymeleaf配置
  thymeleaf:
    cache: false
    enabled: true
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

mybatis-plus:
  configuration:
    # 标准输出日志（控制台打印SQL）
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
