<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.dsd.mapper.PointDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.by.dsd.entity.PointDetails">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="change_type" property="changeType" />
        <result column="change_points" property="changePoints" />
        <result column="remaining_points" property="remainingPoints" />
        <result column="source_type" property="sourceType" />
        <result column="source_id" property="sourceId" />
        <result column="description" property="description" />
        <result column="effective_date" property="effectiveDate" />
        <result column="expiry_date" property="expiryDate" />
        <result column="is_settled" property="isSettled" />
        <result column="created_at" property="createdAt" />
    </resultMap>

</mapper>
