<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.by.dsd.mapper.RolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.by.dsd.entity.Roles">
        <id column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="is_system" property="isSystem" />
        <result column="status" property="status" />
        <result column="sort_order" property="sortOrder" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

</mapper>
